environment:
  matrix:
    - nodejs_version: "8"

branches:
  only:
    - master

# Install scripts. (runs after repo cloning)
install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

# Post-install test scripts.
test_script:
  - npm test

# http://help.appveyor.com/discussions/questions/1310-delete-cache
cache:
  - node_modules -> package.json

# Don't actually build.
build: off
